@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #dddddd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  .inputlike {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button,
  .btn {
    color: #ffffff;
    @apply bg-amber-700;
  }
}

@layer components {
  input,
  .inputlike {
    @apply w-full block px-4 py-2 rounded-md bg-white;
  }

  button,
  .btn {
    @apply px-4 py-2 rounded-md bg-white border-2 border-amber-700;
  }
}
